.rounded-circle{
    width: 2rem;
    height: 3rem;
}
.coffee-beans{
    width: 2rem;
    height: 3rem;  
}
.navbar{
    font-size: 1.5REM;
    font-family: cursive;
   background-color: rgb(170, 138, 138);
      
  }
.nav-link{
    color: rgb(64, 64, 83);
    margin-left: 1rem;
}
.hero{
    background-image: url("images/cofee.jpg");
height: 630px;
background-size: cover;
/* position: relative;  */
display: flex;
   
justify-content: center;
}
h1{
    color:rgb(241, 249, 8);
    font-family: cursive;
    align-self: flex-start;
    font-weight: bolder;  
/* align-content: center;} */
}
#customerInfo{
   align-self: center; 
   color: white;
   font-family: cursive;
   font-size: 1.3rem;
   background-color: rgba(140, 197, 197,.5);
}
#customerInfo p{
    font-size: 2.3rem;
    color:goldenrod;
    /* background-color: aqua; */
}
#customerInfo li{
    list-style: none;

}

table {
    border: solid brown;
    border-radius: .7rem;
    border-spacing:.5rem;
    color: brown;
    font-size: larger;
    font-family: cursive;
    
}
tr td{
    border: solid brown;
    border-radius: .7rem;
   

}